<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Crear</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        
         <p th:text="${datos}"></p>
        
        <table border="1">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>apellido</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="propietario : ${propietariosList}">
                    <td th:text="${propietario.getNombre()}">Nombre</td>
                    <td th:text="${propietario.getApellido()}">Apellido</td>
                </tr>

            </tbody>
        </table>
    </body>
</html>
